
<h1><%= @entry["title"]%></h1>

<ul>
  <li><%= @entry["description"] %></li>
  <li><%= @entry["occurred_on"] %></li>
</ul>

<p><a href="/places/<%= @company["id"] %>">Back to <%= @places["name"] %></a></p>