]<h1><%=@place["name"]%></h1>

<h2>Entry Details:</h2>
    <% for e in @entries %>
      <ul>
        <li>Title: <%= e.title %></li>
        <li>Description: <%= e.description %></li>
        <li>Date: <%= e.occurred_on %></li>
      </ul>
    <% end %>
  
  <a href="/places/<%= @place["id"]%>/entries/new">New Entry</a>

<p><a href="/places">Back to All Places</a></p>